(
    name: "Level 01",
    tile_width: 64.0,
    tile_height: 32.0,
    rows: [
        "###############",
        "P.....#....S..#",
        "#.###.#.#####.#",
        "#...#.#.....#.#",
        "###.#.###.#.#.#",
        "#...#.....#...#",
        "#.#######.###.#",
        "#..G..#....R..#",
        "#####.#.#####.#",
        "#.....#.....#.#",
        "#.#########.#.#",
        "#.............E",
        "###############",
    ],
)

