(
    name: "Level 02",
    tile_width: 64.0,
    tile_height: 32.0,
    rows: [
        "###############",
        "P....G....R...#",
        "#.##.#.######.#",
        "#.#..#....S.#.#",
        "#.#.#####.#.#.#",
        "#...#.....#...#",
        "###.#.###.###.#",
        "#...#...#.....#",
        "#.#####.#.###.#",
        "#.....#.#...#.#",
        "#.###.#.###.#.#",
        "#.....#.......#",
        "#######E#######",
    ],
)

